.game {
  max-width: 1336px;
  .game-container {
    background: url(../../assets/casiono-background.jpg) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
