.initial-deal {
  align-items: center;
  .initial-deal-top {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  flex-direction: column !important;
  -webkit-flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 97px;
  .chip {
    width: 100px;
  }

  .count-btn {
    position: relative;
    .count-txt {
      position: absolute;
      color: #000000ab;
      font-size: 17px;
    }
    .count-chip {
      width: 136px;
    }
  }
  .main-btn-container {
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    button {
      margin-bottom: 10px;
      width: 140px;
    }
  }
}
