@font-face {
  font-family: 'CasinoItalic';
  src: url(./assets/Casino-Italic.ttf);
}
@font-face {
  font-family: 'times';
  src: url(./assets/times-new-roman.ttf);
}
body {
  margin: 0;
  font-family: 'CasinoItalic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
